<div class="comment-container">

<p>{{content.title}}</p>
<p>{{content.content}}</p>
<textarea class="textarea" type="text" id="new-comment"></textarea>
<button type="submit" class="button is-primary" id="submit" data-id="{{content.id}}">Add Comment</button>

</div>

{{#each comments as |comment| }}
    
    {{comment.comment_content}}
    
{{/each}}

<script src="/js/newcomment.js"></script>