<div class="comment-container">

<p>{{content.title}}</p>
<p>{{content.content}}</p>
<textarea class="textarea" type="text" id="new-comment"></textarea>
<button type="submit" class="button is-primary" id="submit" data-id="{{blog.id}}">Add Comment</button>

</div>

<script src="/js/newcomment.js"></script>