<section class="columns is-centered">
<div class="column bulma-overlay-mixin" id="homepage">
      <div class="box has-text-centered">
        <h1 class="title">Welcome to Recipe Saver!</h1>
        <h2 class="subtitle">An easy application to store your favorite recipes</h2>
        <p>Still have your family recipes stored in that tin container while the cards start to disintigrate?
            Store your recipes here where they won't be lost to the elements. Keep track of old family recipes, new recipes you found online, or those family staples you made up yourself!
            Each will be stored easily in your profile for you to access and edit. 
        </p>
        <p>To View, Edit, or Add to Your Recipes: Click "Profile" in the Navigation Bar</p>
      </div>
    </div>
</section>



