<section class="columns">
<div class="column">
  <form class="box">
    <h2 class="title">Create New Recipe</h2>
    <div class="field">
      <label class="label">Recipe Title</label>
      <div class="control">
        <input class="input" type="text" id="recipe-title" placeholder="e.g. Grandma's Best Soup">
      </div>
    </div>
  
    <div class="field">
      <label class="label">Ingredients</label>
      <div class="control">
        <textarea class="textarea" type="text" id="recipe-ingredients" placeholder="e.g. 1 bell pepper, 1 tsp sugar"></textarea>
      </div>
    </div>

    <div class="field">
        <label class="label">Instructions</label>
        <div class="control">
          <textarea class="textarea" type="text" id="recipe-instructions" placeholder="e.g. In a medium bowl, combine..."></textarea>
        </div>
      </div>
  
    <button type="submit" class="button is-primary">+ Add Recipe</button>
  </form>
</div>
</section>

<script src="./js/newrecipe.js"></script>