<div class="px-4 is-flex-direction-column columns project-list">
  {{#each blogs as |blog| }}
    <div class="card column column-gap is-vcentered" data-edit-id={{blog.id}}>
      <div class="" id="recipe-card">
        <div class="level">
          <p class="py-4 has-text-weight-bold" id="recipe-name">{{blog.title}}</p>
          <p>Posted on {{blog.date_created}}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>

    
<footer>
       <div class="content has-text-centered">
         <a href="/add-recipes">
         <button class="button is-primary is-light" id="add-recipe">Add Post</button>
        </a>
        {{!-- <p class="has-text-white">fruit icons PNG Designed By lancarrejekiamin from <a href="https://pngtree.com"> Pngtree.com</a></p> --}}
      </div>
    </footer>

{{!-- <script src="./../js/viewRecipe.js"></script> --}}
<script src="./js/cardHandler.js"></script>
