<section class="columns">
<div class="column">
  <form class="box">
    <h2 class="title">Your Recipe</h2>
    <div class="field">
      <label class="label">Recipe Title</label>
      <div class="control">
        <h1>{{recipe.name}}</h1>
      </div>
    </div>
  
    <div class="field">
      <label class="label">Ingredients</label>
      <div class="control">
        <p>{{recipe.ingredients}}</p>
      </div>
    </div>

    <div class="field">
        <label class="label">Instructions</label>
        <div class="control">
          <p>{{recipe.instructions}}</p>
        </div>
      </div>
  
    <button type="submit" class="button is-primary" id="submit" data-id="{{recipe.id}}">Edit Recipe</button>
  </form>
</div>
</section>

<script src="./../js/viewRecipe.js"></script>